<div class="container">

  <div class="row">
    <div class="col-12 text-center mb-2" *ngIf="album!==null">
      <label  class="fs-4 fw-bold"><span i18n>Álbum: </span>{{album?.titulo}} ({{album?.anio}})</label>
      <button *ngIf="album && (userId === album.usuario)" type="button" class="btn btn-outline-success ms-3 me-2" (click)="goToEdit()" title="Editar álbum"><i class="bi bi-pencil-square"></i></button>
      <button *ngIf="album && (userId === album.usuario)" type="button" class="btn btn-outline-info me-1 me-2" (click)="goToJoinCancion()" title="Agregar canción" ><i class="bi bi-plus" ></i><i class="bi bi-music-note"></i></button>
      <button *ngIf="album && (userId === album.usuario)" type="button" class="btn btn-outline-info me-1 me-2" (click)="goToShareAlbum()" title="Compartir canción"><i class="bi bi-share-fill"></i></button>
      <button *ngIf="album" type="button" class="btn btn-outline-info me-1 me-2" (click)="goToCommentAlbum()" title="Comentar Album"><i class="bi bi-chat-text"></i></button>
      <button *ngIf="album && (userId === album.usuario)" type="button" class="btn btn-outline-danger me-1" (click)="eliminarAlbum()" title="Eliminar álbum"><i class="bi bi-trash-fill"></i></button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <p><span i18n class="fw-bold">Medio: </span> <span class="text-capitalize">{{album?.medio?.llave}}</span></p>
          <p>{{album?.descripcion}}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <p i18n class="fw-bold">Intérpretes:</p>
          <ul class="mt-0">
            <li class="my-1" *ngFor="let interprete of album?.interpretes">{{interprete}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="min-height: fit-content;" >
    <div class="col-12 mt-3 mb-2 ms-2">
      <h5 i18n>Canciones</h5>
    </div>
    <div class="col-12">
      <table class="table table-hover table-bordered table-striped" >
        <thead class="table-light">
          <tr>
            <th i18n  scope="col" class="text-center">Canción</th>
            <th i18n scope="col" class="text-center">Duración</th>
            <th i18n scope="col" class="text-center">Intérprete</th>
          </tr>
        </thead>

        <tbody *ngIf="album!==null" >
            <tr *ngFor="let cancion of album?.canciones" >
              <ng-container *ngIf="album.canciones.length > 0">
                <td >{{cancion.titulo}}</td>
                <td class="text-center">{{ formatTimeFunction(cancion?.minutos) }}:{{ formatTimeFunction(cancion?.segundos) }}</td>
                <td >{{cancion.interprete}}</td>
              </ng-container>

            </tr>

        </tbody>
          <ng-container *ngIf="album?.canciones?.length === 0">
            <p i18n class="text-primary my-2 mx-5 text-center">
              Aún no tienes canciones asociadas, porfavor asocia una para continuar
            </p>
          </ng-container>
      </table>

    </div>

  </div>

</div>
