<div class="vertical-align-center m-5">
    <div >
        <img class="img-fluid w-25" src="assets/img/logo/IonicLogo.png" alt="Ionic Logo" />
    </div>
    <h1 class="mb-5">Ionic App</h1>
    <div class="row">
        <div class="col">
            <h4>Raul García</h4>
            <p>Desarrollador / Representante del PO</p>
        </div>
        <div class="col">
            <h4>Rodrigo Orellana</h4>
            <p>Desarrollador / Scrum Master</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Gonzalo Tixilima</h4>
            <p>Desarrollador</p>
        </div>
        <div class="col">
            <h4>Miguel Duque</h4>
            <p>Desarrollador</p>
        </div>
    </div>
</div>