<div class=" pt-2 footer bg-info fixed-bottom">
  <div class="container">
    <div class="row vertical-align-center">
      <div class="col-6 col-xs-4 about-company">
        <img
            class="img-fluid m-2"
            style="width: 15%;"
            src="assets/img/logo/IonicLogo.png"
            alt="Ionic App Logo"
        />
        <a class="navbar-brand text-primary ml-2" routerLink="acerca-de-nosotros"
        >Acerca de nosotros</a
      >
      </div>
     
      <div class="col-6 col-xs-8 location">
        <h4 class="mt-lg-0 ">Contacto</h4>
        <p><i class="fa fa-envelope-o mr-3"></i>info@ionicapp.com</p>
      </div>
    </div>
  </div>
</div>